{% extends "simple/base.html" %}
{% from 'simple/icons.html' import icon_big %}
{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/landing.min.css') }}" type="text/css">
<div style="height: 80vh;" class="index">
    <div class="title"><h1>Splendos</h1></div>

    {% include 'simple/simple_search.html' %}

</div>

 <main class="main">
    <section class="about container">

      <article class="about__item">
        <figure class="about__picture">
          <img src="{{ url_for('static', filename='img/icon-any-file.svg') }}"  class="about__img">
        </figure>

        <h3 class="about__title">Privacy Protection</h3>

        <p class="about__paragraph">Welcome to Splendos, the AI-powered search engine that places your privacy first. We've combined cutting-edge AI technology with a strong commitment to confidentiality, answering your questions without infringing on your personal space</p>
      </article>

      <article class="about__item">
        <figure class="about__picture">
          <img src="{{ url_for('static', filename='img/icon-security.svg') }}" class="about__img">
        </figure>

        <h3 class="about__title"> Data Security
        </h3>

        <p class="about__paragraph"> Your security is paramount at Splendos. Our robust encryption and data management systems ensure your online activities remain safe, and crucially, we never ask for personal data, nor do we store any digital footprint
        </p>
      </article>




      <article class="about__item">
        <figure class="about__picture">
          <img src="{{ url_for('static', filename='img/icon-collaboration.svg') }}"  class="about__img">
        </figure>

        <h3 class="about__title">Anonymous Search</h3>

        <p class="about__paragraph">
         Experience true anonymity with Splendos. Our unique feature ensures your searches are yours alone, free from tracking or data selling, providing you the freedom to explore the digital world without leaving a trace</p>
      </article>

      <article class="about__item">
        <figure class="about__picture">
          <img src="{{ url_for('static', filename='img/chat.svg') }}"  class="about__img">
        </figure>

        <h3 class="about__title">Splendos AI</h3>

        <p class="about__paragraph">Splendos' AI is intelligently built to respect your privacy and uphold ethical considerations. It responds to your queries with precision, yet without storing your data, ensuring your rights are protected while offering accurate answers</p>
      </article>

    </section>



 <!-- <section class="card container">

      <article class="card__item card__item--first">
        <p class="card__paragraph"> Aca se puede pensar si poner comentarios de personas 3, o los fundadores de la empresa</p>

        <div class="card__profile">
          <figure class="card__picture">
            <img src="{{ url_for('static', filename='img/profile-1.jpg') }}"  class="card__img">
          </figure>

          <div class="card__info">
            <h3 class="card__name"></h3>
            <p class="card__job">Founder & CEO</p>
          </div>
        </div>
      </article>

      <article class="card__item ">
        <p class="card__paragraph"> Aca se puede pensar si poner comentarios de personas 3, o los fundadores de la empresa</p>

        <div class="card__profile">
          <figure class="card__picture">
            <img src="{{ url_for('static', filename='img/profile-2.jpg') }}"   class="card__img">
          </figure>

          <div class="card__info">
            <h3 class="card__name"></h3>
            <p class="card__job">Founder & CE</p>
          </div>
        </div>
      </article>

      <article class="card__item ">
        <p class="card__paragraph"> Aca se puede pensar si poner comentarios de personas 3, o los fundadores de la empresa</p>

        <div class="card__profile">
          <figure class="card__picture">
            <img src="{{ url_for('static', filename='img/profile-3.jpg') }}"    class="card__img">
          </figure>

          <div class="card__info">
            <h3 class="card__name"></h3>
            <p class="card__job">Founder & CEO</p>
          </div>
        </div>
      </article>


    </section>

    <section class="join">
      <div class="join__container container">
        <h3 class="join__title">  Get early access today
        </h3>
        <p class="join__paragraph"> Welcome to Splendos here can you get information of this platform.</p>

        <form class="join__form">
          <input type="text" placeholder="contact@splendos.org" class="join__input join__input--text">
          <input type="submit" value="Register" class="join__input join__input--submit">
        </form>
      </div>
    </section>-->
  </main>

 <!-- <footer class="footer ">
    <section class="footer__container container">
      <img src="img/logo.svg" class="footer__logo">

      <div class="footer__items">
        <p class="footer__contact footer__contact--first">
          <img src="img/icon-location.svg" class="footer__icon">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis quidem aperiam quibusdam, veritatis explicabo similique.
        </p>


        <div class="footer__content">

          <p class="footer__contact footer__contact--second">
            <img src="img/icon-phone.svg" class="footer__icon">
            +1-543-123-4567
          </p>

          <div class="footer__location">
            <p class="footer__contact">
              <img src="img/icon-email.svg" class="footer__icon">
              example@fylo.com
            </p>
          </div>

        </div>

        <nav class="footer__nav">
          <a href="#" class="footer__link">About Us</a>
          <a href="#" class="footer__link">Jobs</a>
          <a href="#" class="footer__link">Press</a>
          <a href="#" class="footer__link">Blog</a>
        </nav>

        <nav class="footer__nav">
          <a href="#" class="footer__link">Contact Us</a>
          <a href="#" class="footer__link">Terms</a>
          <a href="#" class="footer__link">Privacy</a>
        </nav>

        <div class="footer__social">
          <a href="#" class="footer__media"><img src="img/fb.svg" class="footer__img"></a>
          <a href="#" class="footer__media"><img src="img/twitter.svg" class="footer__img"></a>
          <a href="#" class="footer__media footer__media--last"><img src="img/instagram.svg" class="footer__img"></a>
        </div>
      </div>

    </section>


  </footer>

-->



{% endblock %}
